@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   margin: 0;
   padding: 0;

}
body{
   background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMinYMin'%3E%3Cdefs%3E%3CradialGradient id='a' x1='0%25' x2='100%25' y1='0%25' y2='100%25' r='60%25'%3E%3Cstop offset='0' stop-color='%23217897'/%3E%3Cstop offset='1' stop-color='%230e2e42'/%3E%3C/radialGradient%3E%3Cfilter id='b'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.7'/%3E%3CfeComponentTransfer%3E%3CfeFuncR type='linear' slope='2' intercept='-.5'/%3E%3CfeFuncG type='linear' slope='2' intercept='-.5'/%3E%3CfeFuncB type='linear' slope='2' intercept='-.5'/%3E%3C/feComponentTransfer%3E%3CfeComponentTransfer%3E%3CfeFuncA type='linear' slope='1'/%3E%3C/feComponentTransfer%3E%3CfeComponentTransfer%3E%3CfeFuncA type='table' tableValues='0 .15'/%3E%3C/feComponentTransfer%3E%3C/filter%3E%3C/defs%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' filter='url(%23b)'/%3E%3C/svg%3E");

   background-blend-mode: overlay, normal;
   background-size: cover;
   cursor: auto;
   box-shadow: 0 9px 25px 0 rgba(6, 47, 105, 0.60);
}
   .container {
      position: relative; /* Должен быть position: relative; чтобы абсолютно позиционированные элементы работали правильно */
      max-width: 100%; /* Ограничиваем ширину контейнера до 100% ширины родительского элемента */
      overflow: hidden; /* Скрываем часть изображения, которая выходит за пределы контейнера */
   }

@layer components {
   .header-mob{
      background: linear-gradient(130deg, #0F1C3D 0%, #163fa6 99.99%, #102352 100%), url("./assets/mobile/headerBackgroundMobile.png") no-repeat center center;
      background-blend-mode:  normal;
      background-size: cover;
      box-shadow: 0 9px 25px 0 rgba(6, 47, 105, 0.60);
      width: 100%;
   }
   .nav-link{
      position: relative;
      text-decoration: none;
      transition: color 0.3s ease;
   }
   /* Стили для псевдоэлемента, который будет представлять линию под ссылкой */
   .nav-link::after {
      content: ''; /* Обязательно указываем content для псевдоэлемента */
      position: absolute;
      bottom: 0; /* Устанавливаем отрицательное значение, чтобы псевдоэлемент находился под текстом ссылки */
      left: 0;
      width: 0;
      height: 2px;
      background-color: #369CFB;
      transition: width 0.7s ease; /* Плавный переход для изменения ширины псевдоэлемента */
      transform-origin: left; /* Устанавливаем точку трансформации слева */
      z-index: 1;
   }
   .nav-link:hover {
      color: #369CFB;/* Изменяем цвет текста при наведении */
   }
   /* При наведении курсора на ссылку, изменяем ширину псевдоэлемента */
   .nav-link:hover::after {
      width: 100%;
   }

   .burgerActive{
      border-radius: 8px 0 0 8px;
      background: #062243;
      z-index: 40;
   }
.bgHeader{
   z-index: 30;
}
   .svgBlock{
      position: absolute;
      height: 60px;
      width: 60px;
      background: linear-gradient(39deg, #4DDAC0 0%, #2292C2 100%);
      border-radius: 50%;

   }
   .svgBlock:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      border-radius: 50%;
      filter: blur(7px);
      transform: scale(1.04);
      box-shadow: 0 0 10px 2px rgba(92, 210, 222, 0.44);
      z-index: -1;
      width: 100%;
      height: 100%;
   }
   .svgImage{
      position: absolute;
      left:14px;
      top:14px;

   }
   .svgImage2{
      height: 31px;
      width: 31px;
   }
   .svgBlock2{
      position: absolute;;
      height: 30px;
      width: 30px;
      background: linear-gradient(39deg, #4DDAC0 0%, #2292C2 100%);
      border-radius: 50%;

   }
   .svgBlock2:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      border-radius: 50%;
      filter: blur(7px);
      transform: scale(1.04);
      box-shadow: 0 0 10px 2px rgba(92, 210, 222, 0.44);
      z-index: -1;
      width: 100%;
      height: 100%;
   }
   .svgImage3{
      position: absolute;
      left:5px;
      top:5px;

   }
   .svgImage4{
      height: 20px;
      width: 20px;
   }

}


.emeraldFirstGroup{
   position: absolute;
}



.background-svg1 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.3;
   filter: blur(0px);
}
.contactHref:hover>div>div{
   color: #369CFB;
}
.background-svg1 svg {
   width: 100%;
   height: 100%;

}
.background-svg2{
   position: absolute;
   top: 20px;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.2;
   filter: blur(0px);
}

.background-svg2 svg {
   width: 100%;
   height: 100%;

}
.background-svg3{
   position: absolute;
   margin-top: 110px;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.1;
   filter: blur(0px);
}

.background-svg3 svg {
   width: 100%;
   height: 100%;

}
.background-svg4 {
   position: absolute;
   top: 2400px;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.1;
   filter: blur(0px);
}

.background-svg4 svg {
   width: 100%;
   height: 100%;

}




.background-svg5 {
   position: absolute;
  top:2610px;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.15;
   filter: blur(0px);
}

/* Растягивание фона на весь экран */
.background-svg5 svg {
   width: 100%;
   height: 100%;

}
.header-active{
 background: #062243;;
}

/* Стили для ссылки */


.nav-link2{
   position: relative;
   text-decoration: none;
   transition: color 0.3s ease;
}
/* Стили для псевдоэлемента, который будет представлять линию под ссылкой */
.nav-link2::after {
   content: ''; /* Обязательно указываем content для псевдоэлемента */
   position: absolute;
   bottom: 0; /* Устанавливаем отрицательное значение, чтобы псевдоэлемент находился под текстом ссылки */
   left: 27px;
   width: 0;
   height: 2px;
   background-color: #369CFB;
   transition: width 0.7s ease; /* Плавный переход для изменения ширины псевдоэлемента */
   transform-origin: left; /* Устанавливаем точку трансформации слева */
   z-index: 1;
}
.nav-lin2k:hover {
   color: #369CFB;/* Изменяем цвет текста при наведении */
}
/* При наведении курсора на ссылку, изменяем ширину псевдоэлемента */
.nav-link2:hover::after {
   width: 80%;
}


.hover-svg {
   --svg-margin-right: 0.5rem;
   color: white;
   transition: margin 0.4s ease-in-out;
}



.hover-svg:hover {
   /*--svg-color: #369CFB; !* Цвет при наведении *!*/
  --svg-margin-right: 0;
   color: #369CFB;

}

/* Применение цвета SVG через fill */
.fill-current {
   /*fill: var(--svg-color);*/
   margin-right: var(--svg-margin-right);
}
.button-link svg{
   transition: margin 0.4s ease-in-out;
}
.button-link:hover svg{
   margin-left: 1.2rem;
}
.button-hover{
   background: #369CFB;
   transition: background-color 0.4s, box-shadow 0.3s;
}
.button-hover:hover{
   box-shadow: 0 4px 29px 0 rgba(92, 210, 222, 0.44);
   border-radius: 6px;
}
.button-hover2{
   transition: background-color 0.4s, box-shadow 0.3s;
}
.button-hover2:hover{
 border-color: #369CFB;
   background: #369CFB;
}
.bg-transparent {
   background-color: transparent;
}

.bg-opacity-30 {
   border-radius: 20px;
   background: linear-gradient(150deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0.03) 100%);
   backdrop-filter: blur(20px);
   border: solid 2px rgba(122, 118, 220, 0.2);
}
.bg-opacity-30-2 {
   border-bottom-left-radius: 2rem;
   border-bottom-right-radius: 2rem;
   background: linear-gradient(90deg, rgba(29, 48, 96, 0.9) 0%, rgba(46, 73, 157, 0.9) 100%);
   opacity: 100%;
   backdrop-filter: blur(10px);
   border: solid 1px rgba(122, 118, 220, 0.2);
}

.circleAdv{
   box-shadow: 0 4px 29px 0 rgba(92, 210, 222, 0.44);
}



.swiper_container {

   z-index: 1;
}



.swiper-slide .imgMain {
   height: 90%;
   width: 48rem;
   border-top-left-radius: 2rem;
   border-top-right-radius: 2rem;
   object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
   display: none;
}


.slider-controler {

   position: relative;
   bottom: 2rem;
   width: 9rem;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-decoration: none;
   z-index: 20;
}
.swiper-slide .textMain {
   padding: 1.3rem 0;
}
@media screen and (min-width: 720px) and (max-width: 999px) {
   .swiper-slide .imgSub {
      height: auto;
      width: 38rem;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      object-fit: cover;
   }
   .swiper-slide .imgMain {
      width: 38rem;
      height: auto;
   }
   .swiper-slide .textMain {
      width: 38rem;
   }
}
@media screen and (min-width: 320px) and (max-width: 719px) {
   .swiper-slide .textMain {
      padding: 1rem 0;
   }
}

.slider-controler .slider-arrow {
   z-index: 20;
   margin-top: 10px;
   border-radius: 50%;
   cursor: pointer;
}

.slider-controler .slider-arrow svg {
   z-index: 20;
   font-size: 2rem;
   color: white;
   cursor: pointer;
}

.swiper-pagination {
   margin-bottom: -0.3rem;
   z-index: 20;
}

.swiper-pagination .swiper-pagination-bullet {
   background: rgba(101, 126, 255, 1);
   opacity: 80%;
}

.swiper-pagination .swiper-pagination-bullet-active {
   background: white;
}


.buttonForm{
   width: 100%;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(-30px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
.animate-fadeIn {
   animation: fadeIn 0.5s ease ;
}
.footer{
   position: relative;
   bottom: 0;
   left: 0;
   width: 100%;
   background: #171327;

}
.line-container{
   position: absolute;
   top: 240px;
   margin-left: -4rem;
   overflow: hidden;
   text-align: center;
}
.line-container2{
   position: absolute;
   top: 13rem;
   margin-left: -1rem;
   overflow: hidden;
   text-align: center;

}
.line-container3{
   position: absolute;
   top: 30rem;
   margin-left: 60rem;
   overflow: hidden;
   text-align: center;
}
.line-container-mobile{
   width: 100%;
   position: absolute;
   top: 6rem;
   overflow: hidden;
   text-align: center;
}
.line1{

}
.text-gray-1{
   color:#EBEFF4;
}
.text-green-1{
   color: #28F198;
}
.textError{
   color: rgba(243, 74, 74, 1);
}

.regContent{

      min-height: calc(100vh - 384px);

}

   .focus1 {
      border: 2px solid white; /* начальная граница для поля ввода */
      transition: border-color 0.1s; /* добавляем анимацию при изменении границы */
   }

   /* Определяем стили для фокуса на элементе input */
   .focus1:focus {
      border: 2px solid #369CFB;
      outline: none; /* убираем стандартный контур фокуса (если нужно) */

   }
.input-error {

   border: 2px solid rgba(243, 74, 74, 1)
}
.borderB {
   position: relative;
}
.borderB::after {
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   border-bottom: solid 1px #B7B6CC;
   opacity: 0.2; /* Установите желаемое значение прозрачности */
}